* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
#sidebar {
    position: fixed;
    width: 300px;
    height: 350px;
    background: peachpuff;
    border-radius: 10px;
    left: -300px;
    transition: all 600ms;
    margin: 25px 0 0;
}

#sidebar.active {
    left: 15px;
}

#sidebar ul li:first-child {
    text-align: center;
    color: #d18016;
    font-size: 1.95em;
    list-style: none;
    padding: 25px 10px 10px 10px;
}

#sidebar ul li:not(:first-child) {
    width: 90%;
    margin-left: 10%;
    font-size: 1.1em;
    list-style: none;
    padding: 15px 10px;
}

#sidebar ul li a {
    color: #d18016;
    text-decoration: none;
}

#sidebar ul li a:hover {
    color: #ac2b2b;
}

#sidebar .toggle-btn {
    position: absolute;
    left: 320px;
    top: 20px;
    background:peachpuff;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
}

#sidebar .toggle-btn:hover {
    background: rgb(165, 110, 61); 
}

#sidebar .toggle-btn span {
    background: peachpuff;
}

#sidebar .toggle-btn span {
    display: block;
    width: 25px;
    height: 4px;
    background-color: #d18016;
    margin: 4px 0;
}

.register {
    color: #d18016;
    border-radius: 12px;
}

.submit-btn {
    border-radius: 3px;
    border-width: 1px;
    border-color: #556270;
    background-color: peachpuff;
    color: #d18016;
}

.submit-field {
    width: 130px;
}

.header-appearance {
    background-color: peachpuff;
    height: 80px;
}

.header-content {
    padding-top: 20px;
    color: #d18016;
    display: flex;
    justify-content: center;
}

.styleMusic {
    width: 220px;
    margin-top: 15px;
    margin-left: 1430px;
    display: flex;
    font-size: larger;
    color: #d18016;
    background-color: peachpuff;
}

@media(max-width: 1200px) {
    .styleMusic {
        margin-left: 930px;
    }
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.block-first {
    background: peachpuff;
    min-height: 430px;
    font-size: 40px;
    color: #d18016;
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-right {
    margin-left: 30px;
    display: flex;
    flex: 0 0 220px;
    flex-direction: column;
}

.block-item {
    background: peachpuff;
    min-height: 200px;
    font-size: 40px;
    color: #d18016;
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.block-item:last-child {
    margin-bottom: 0;
}