* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
#sidebar {
    position: fixed;
    width: 300px;
    height: 350px;
    background: #57626f;
    border-radius: 10px;
    left: -300px;
    transition: all 600ms;
    margin: 25px 0 0;
}

#sidebar.active {
    left: 15px;
}

#sidebar ul li:first-child {
    text-align: center;
    color: white;
    font-size: 1.95em;
    list-style: none;
    padding: 25px 10px 10px 10px;
}

#sidebar ul li:not(:first-child) {
    width: 90%;
    margin-left: 10%;
    font-size: 1.1em;
    list-style: none;
    padding: 15px 10px;
}

#sidebar ul li a {
    color: #dfe5ed;
    text-decoration: none;
}

#sidebar ul li a:hover {
    color: #59e9df;
}

#sidebar .toggle-btn {
    position: absolute;
    left: 320px;
    top: 20px;
    background: #E0E5EA;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
}

#sidebar .toggle-btn:hover {
    background: #556270; 
}

#sidebar .toggle-btn span {
    background: #fafafa;
}

#sidebar .toggle-btn span {
    display: block;
    width: 25px;
    height: 4px;
    background-color: #666;
    margin: 4px 0;
}

.register {
    color: #E0E5EA;
    border-radius: 12px;
}

.submit-btn {
    border-radius: 5px;
    border-color: #556270;
    background-color: #666;
    color: #E0E5EA;
}

.submit-field {
    width: 130px;
}

.header-appearance {
    background-color: #556270;
    height: 80px;
}

.header-content {
    color: #E0E5EA;
    margin-left: 700px;
    padding-top: 20px;
}